<!-- app/views/user_mailer/welcome.html.erb -->

<h3>Hi <%= @user.username %>,</h3>

<p>Welcome to Wolf Projects, managing your projects just got easier as we hope to serve you the best way we can. Return back to our website by clicking the link <%= link_to "Wolf Projects", projects_url, class: "btn btn-secondary" %></p>

<p>See ya!</p>
