<!-- app/views/user_mailer/welcome.html.erb -->

<p>Hi <%= @user.email %>,</p>

<p>Welcome to Wolf Projects, return back to our website by clicking the button <%= link_to "Wolf Projects", projects_url, class: "btn btn-secondary" %></p>

<p>See ya!</p>
