<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><strong>Boss <%= @project.user.username %></strong>, you created a new project!</h3>
    <p>
    Project details<br>
    --------------------------
    </p>
    <p>Name: <%= @project.name %></p>
    <p>Created at: <%= @project.created_at.strftime("%a %B %Y") %></p>
    <p>
    Description:<br>
    ----------
    </p>
    <p><%= @project.description %></p>
  </body>
</html>
